#kk{
    background-color: red;
    padding: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-style: italic;

    font-weight: bold;

    color: azure;

    opacity: 0.4;

    text-align: center;
}




